<div class="container">
  <div class="my-5">
    <form action="/bot" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ID del bot</label>
        <input type="text" class="form-control" id="botid" name="id" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prefix</label>
        <input type="text" class="form-control" id="botid" name="prefix" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">De que trata de bot</label>
        <input type="text" class="form-control" id="botid" name="faq_bot" />
      </div>
      <div class="mb-3">
        <label for="botDescripcion" class="form-label">Por que debemos añadir tu bot</label>
        <textarea
          class="form-control"
          id="botDescripcion"
          rows="3"
          name="FAQ_TEAM"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>